@import  "mixins", "variables";

header {
    // position: fixed;
    left: 0;
    right: 0;
    display: flex;
    border-bottom: 5px solid $navBgHover;
    justify-content: space-between;
    padding: 1em 2em;
    flex-direction: row;
    background-color: $navBgc;
    
}
nav {
    
    background: $navBgc;
    display: flex;
    position: relative;
}
nav {
    
    ul {
        list-style: none;
        margin: 0 ;
        padding: 0;
        transition: ease 1.5s all;
        

        li{
            display: inline-block;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            
            a {
                display: inline-block;
                color: rgb(243, 239, 239);
                text-decoration: none;
                padding: 0.5em 0.5em;
                opacity: 0.3;
                
                

            }
            a:hover {
                color: $navTextColor;
                background: $navBgHover;
                transition: ease-out 0.5s all;
                opacity: 1;
                border-radius: 5px;
                transform: scale(1.1);
            }
        }
    }
    .mobile-bar {
            flex-direction: column;
            justify-content: center;
            padding: 0.5em 1em;
            display: none;
            
            span {
                display: block;
                height: 2px;
                width: 20px;
                margin: 2px;
                background-color: rgb(243, 239, 239);
            }
    }
}

.logo, .flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  
  .logo{
    padding: 0.5em;
    span {
        display: block;
        margin-right: 10px;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        transform-origin: 0 70%;
        transform-style: preserve-3d;
        animation: rotate 2.6s linear infinite;
    }
    
    
    span:nth-of-type(2) {
        animation-delay: 0.3s;
    }
    span:nth-of-type(3) {
        animation-delay: 0.6s;
    }
    span:nth-of-type(4) {
        animation-delay: 0.9s;
    }
       span:nth-of-type(5) {
         animation-delay: 1.2s;
       }
        
    @keyframes rotate {
        35% {
        transform: rotateX(360deg);
        }
        100% {
        transform: rotateX(360deg);
        }
    } 
}
.logo:hover {
                
                // background: $navBgHover;
                transition: ease-out 0.8s all;
                border-radius: 5px;
                transform: scale(1.4);
                span{
                    color: $navTextColor;   
                    font-weight: bold;

                }
}
