@import "footer", "header", "mixins", "variables", "media", "portfolio";

body, p, h1, a {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    
}
.body {
    background-color: $navBgc;
}
.container {
    min-width: 400px;
    max-width: 1920px;
    margin: 0 auto;
    
}
a {
    text-decoration: none;
}
.paralax {
    background-image: url("https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?cs=srgb&dl=apple-ipad-iphone-iphone-6-4158.jpg&fm=jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
// --PRESENTATION STYLES--
.Presentation{
    background: url("https://images.pexels.com/photos/1010496/pexels-photo-1010496.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: contain;
    min-height: 500px;
    color: azure;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        text-align: center;
    }
    
}
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 4em;
        letter-spacing: 10px;
        width: 90%;
    }
    p{
        padding: 1em  0 0.5em 0;
        font-size: 1.5em;
        border-bottom: 5px solid $navBgHover;
        min-width: 150px;
        margin-bottom: 2em;
        width: 70%;
    }
    
}
.btn {
    @include button-style;
    border-color: $navBgHover;
    color: $navBgHover;
    margin: 2em  auto 1em;
    opacity: 0.5;
}
.btn:hover {
    border-color: $navBgHover;
    background: $navBgHover;
    transition: ease-in 0.8s all;
    opacity: 1;
    color: azure;
    transform: scale(0.4);
}
// --PRESENTATION STYLES ENDS--

// --ABOUT STYLES--
.about-container {
    margin: 0 auto;
}
.chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.chip-item {
    width: 135px;
    height: 154px;
    background: linear-gradient(to right, #626769 50%, #a2a8ac 50%);
    margin: 3em;
    display: flex;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    img{
        width: 50%;
    }
    &:hover {
    border-color: $navBgHover;
    background: $navBgHover;
    transition: ease-in 0.8s all;
    img{
        transform: scale(1.2);
        transition: ease-in 0.8s all;
    }
    }
}

.about-content {
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 1em;
    padding-bottom: 2em;
    border-radius: 10px;

    img {
        margin-top: 10em;
    }
    h2 {
        @include title
        }
    p {
        font-family: UniversCE;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #818181;
        width: 50%;
        padding: 2em 0;
    }
}
// --ABOUT STYLES ENDS--
// --FORM STYLES--
.form-container{
    margin: 4em 0;
    background-color: #17171885;
    height: 500px;
    padding: 2em;
    border-radius: 10px;
    h2{
        @include title;
        color: azure;
        margin: 0 auto;
        border-bottom-color: transparent;
        width: 80%;
    }
    
}
.stay-form {
    margin: auto;
    max-width: 566px;
    padding:0 5px 5px;
    input, textarea {
        width: 95%;
        padding: 1em;
        
    }
}
.input-text-style {
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: 2px solid $navBgHover;
    color: $navBgHover;
    border-radius: 2px;
    outline: none;
}
.input-text-style:focus {
    border: 2px solid $navBgc;
    color: $navBgc;
    background-color: rgba(134, 134, 134, 0.664);
}
.textarea-input {
    height: 100px;
     resize: none;
}

.button {
    @include button-style ;
    border: 1px solid $navBgc;
    width: 5em; 
    margin: 0 auto;
    text-align: center;
    a{
        color: $navBgc;
    }
    &:hover {     
        background: $navBgHover;
        transition: ease-out 0.9s all;
        opacity: 1;
        border-radius: 5px;
        transform: scale(1.1);
        a {
            color: azure;    
        }    
    }
    
}
// --FORM STYLES ENDS--
// --TEAM STYLES --
.team-section {
    min-width: 320px;
    max-width: 1370px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
    margin: 1em;
    
    min-height: 400px;
    
}
.team-member {
    flex-direction: column; 
    border-radius: 20px;
    background-color: rgba(11, 73, 114, 0.555);
    width: 250px;
    padding: 2em;
    margin: 1em 1em;
    
    img {
        width: 180px;
        height: 180px;
        border-radius: 20px;
        border: 5px solid $navBgHover;
        &:hover{
            transform: scale(1.2);
            transition: ease-out 0.7s all;
        }
    }
    h2 {
        color: azure;
        flex-wrap: wrap;
        text-align: center;
        text-transform: uppercase;
        
    }
    p {
        border-top: 2px solid azure;
        padding-top: 1em;
        color: azure;
        text-align: center;
    }

}
.team-member:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    transition: ease-out 0.5s all;

}

// --TEAM STYLES ENDS--
// --WHY CHOOSE US STYLES--
.choose-section {
    background-color: #fff;
    height: auto;
    margin: 2em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    min-height: 500px;
    flex-direction: column;
    h2{
        @include title;
    }
}


.list {
        margin: 0 1em;
        opacity: 0;
            &:hover {
            opacity: 1;
            transition: ease-out 0.8s all;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
            border-radius: 10px;
            }
    ul {
        margin: 2em 15px;
        padding: 1em;
        li {
            list-style: none;
            padding: 0.5em 1em;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #818181;  
            margin: 0 auto; 
        }
        img {
            width: 18px;
            height: 18px;
        }
    }
}
.container-hidden-text {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center ;
    &:hover{
        background-image: url("data:image/svg+xml;utf8,
  <svg xmlns='http://www.w3.org/2000/svg' version='1.1'
       height='180px' width='180px'>
    <text x='25' y='25' fill='white' font-size='22'>Tap here</text>
  </svg>");
   
    }
    background-image: url("data:image/svg+xml;utf8,
  <svg xmlns='http://www.w3.org/2000/svg' version='1.1'
       height='120px' width='180px'> 
    <text x='45' y='65' fill='grey' font-size='22'>To point here</text>
  </svg>");

 }
 
 
// --WHY CHOOSE US STYLES END--
