@import  "mixins", "variables";


@media (max-width: 850px) {
    nav {
        
        width: 100vw;
        
        ul {
            opacity: 0;
            max-height: 0px;
            overflow: hidden;
            visibility: none;
            display: flex;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            flex-direction: column;
            background: $navBgc;
            margin-top: 0;
        }
        
    
        .mobile-bar {
            display: flex;
            margin: 0 auto;
        }
    }
    nav ul.active {
        opacity: 1;
        min-height: 168px;
        right: 0;
        margin-left: 0%;
        background: $navBgc;
    }
            
           
        
    
    nav ul.active li {
        display: block;
    } 
    nav ul.active li a {
        display: block;
        transform: scale(1);
        border-radius: 0;
        opacity: 0.8;
    
    } 
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
        border-bottom: none;
    }
    .mobile-bar {

        span {
            display: block;
            margin-right: 10px;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            transform-origin: 0 70%;
            transform-style: preserve-3d;
            animation: rotate 2.6s linear infinite;
        }
        
        span:nth-of-type(2) {
            animation-delay: 0.3s;
        }
        span:nth-of-type(3) {
            animation-delay: 0.6s;
        }
        span:nth-of-type(4) {
            animation-delay: 0.9s;
        }
        //   span:nth-of-type(5) {
        //     animation-delay: 1.2s;
        //   }
        //   span:nth-of-type(6) {
        //     animation-delay: 1.5s;
        //   }
        //   span:nth-of-type(7) {
        //     animation-delay: 1.8s;
        //   }
        
        @keyframes rotate {
            35% {
            transform: rotateX(360deg);
            }
            100% {
            transform: rotateX(360deg);
            }
        } 
    }
    .about-container {
        img {
            width: 90%;
        }
    }
    .chip-item {
        img {
            width: 50%;
            height: auto;
        }
    }
}
